@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');

body {
    font-family: 'Inter', sans-serif;
    color: #1f2937;
}

.bg-primary { background-color: #C395FB; }
.text-primary { color: #C395FB; }
.hover\:bg-primary-dark:hover { background-color: #9672c2; }
.border-primary { border-color: #C395FB; }

.testimonial-card {
    box-shadow: 0 10px 15px -3px rgba(16, 185, 129, 0.1), 0 4px 6px -2px rgba(16, 185, 129, 0.05);
}

input:focus,
textarea:focus,
select:focus {
    --tw-ring-color: #C395FB;
}

